<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat App</title>
</head>
<body>
    <h1>Edit room</h1>
    <h3>{{ message }}</h3>
    <form method="post">
        <label>Room name:</label>
        <input type="text" name="room_name" value="{{ room.room_name }}">
        <br>
        <label>Members:</label>
        <input type="text" name="members" value="{{ members_str }}">
        <br>
        <button type="submit">Submit</button>
    </form>
    <button onclick="location.href = '/rooms/{{ room._id }}'"  class="close-editor" >Close editor</button>
    <button onclick="location.href = '/rooms/{{ room._id }}/admins'"  class="manage-admins" >Manage admins</button>
    <button onclick="location.href = '/rooms/{{ room._id }}/delete'" class="delete-room">Delete room</button>
</body>
</html>