<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat App</title>
</head>
<body>
    <h1>My Chat App</h1>
    <h3>Hi {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Guest{% endif %}!</h3>
    <ul>
        {% for room in rooms %}
        <li><a href="/rooms/{{ room._id.room_id }}">{{ room.room_name }}</a></li>
        {% endfor %}
    </ul>

<!-- Buttons -->

    {% if current_user.is_authenticated %}
    <button onclick="location.href = '/create-room';" id="createRoomButton" class="float-left submit-button" >Create room</button>
    <button onclick="location.href = '/logout';" id="logoutButton" class="float-left submit-button" >Logout</button>
    {% else %}
    <button onclick="location.href = '/login';" id="loginButton" class="float-left submit-button" >Login</button>
    <button onclick="location.href = '/signup';" id="signupButton" class="float-left submit-button" >Signup</button>
    {% endif %}

</body>
</html>